version: "3.8"

services:
  app:
    container_name: flask_app
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - app.env
      - db.env
    #tty: true
    command: "flask run --host='0.0.0.0' --port='5000'"
  db:
    image: mariadb
    ports: 
      - "3306:3306"
    env_file:
      - db.env